@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.btn{
background-color: rgb(253, 110, 10);
padding:10px 20px;
border: none;
border-radius: 5px;
color: white;
font-weight: bold;
cursor: pointer;

}
.header{
height: 100vh;
  background: url(Images/images/developer.png ),url(Images/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  /* background-size: cover;
  background-position: center; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 60px 0 60px;
}
.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.li-items{
    text-decoration: none;
    margin-right: 55px;
    color: black;
}
.logo h2{
    margin-left: 40px;
    font-size: 40px;
}