*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 75vh;
    /* border: 3px solid red; */
    background-image: url(./Images/images/header_bg.png);
    background-position: right;
    
    background-repeat: no-repeat;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: 40px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-left: 60px;
}
.ar{
color: orangered;
}
.menu ul{
    display: flex;
    /* border: 3px red solid; */
    align-items: center;
    list-style: none;
    margin-right: 100px;
    /* padding-left: 20px; */
}
.menu a{
    text-decoration: none;
    /* padding-right: 40px; */
    font-size: 20px;
    color: black;
    margin-right: 40px;
}
#hire{
    background-color: orange;
    border-radius: 3px ;
    padding:10px 15px ;
    font-weight: 600;
}
#hire:hover{
    background-color: #ff5704;
    border: 2px solid rgb(255, 140, 0);
}
.header-content{
    display: flex;
    justify-content: center;
}
.header-text{
    /* border: 2px red solid; */
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header-image img{
    width: 400px;
    height: 400px;
    /* border: 2px solid orange; */
    margin-top: 33px;
    margin-left: 70px;
}
.header-image{
    width: 50%;
    /* border: 2px solid rgb(166, 1, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text h3{
    font-size: 30px;
    margin-top: 10px;
}
.header-text h2{
    font-size: 40px;
    margin-top: 10px;
}
.header-text p{
    margin-top: 10px; 
}
.info-button{
    margin-top: 40px;
    }
.info1, .info2{
    background-color: #ff5704;
    color: aliceblue;
    font-weight: 600;
    border: #ff5704 solid 2px;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    margin: 20px;
    
}    
